* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX DIRECTION IS SET TO DEFAULT ROW*/
body {
    background-color: rgb(93, 255, 201);
    /* background-image: url("/images/web-bg.png"); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 12.5rem;
}

.titleDesc {
    text-align: center;
    background-color: rgb(10, 216, 147);
    width: 27rem;
    height: 29.3rem;
    border-radius: 14px;
}

.container h1 {
    padding-top: 2rem;
    color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 4rem;
    }

    
}
h1 {
    font-size: 3.6rem;
    font-family: "Sofia", sans-serif;
}

.content p {
    font-size: 18px;
    padding-top: 2rem;
    color: white;
}

.form-container {
    text-align: center;
    background-color: white;
    padding: 5rem;
    border-radius: 14px;
}

h2 {
    color: rgb(0, 190, 127);
    padding-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

/* .form-group label {
    font-size: 18px;
} */

.form-group input[type=text] {
    border-radius: 6px;
    height: 2.5rem;
    width: 17rem;
    font-size: 16px;
    border-color: rgb(199, 199, 199);
}

.form-group input[type=text]:focus {
    /* outline: 0; */
    outline-color: rgb(71, 177, 177);
}

.form-group input[type=password] {
    border-radius: 6px;
    height: 2.5rem;
    width: 17rem;
    font-size: 16px;
    border-color: rgb(199, 199, 199);
}

.form-group input[type=password]:focus {
    /* outline: 0; */
    outline-color: rgb(71, 177, 177);
}

.forgotPassword span a {
    font-size: 16px;
    color: rgb(0, 190, 127);
}

.loginButton {
    width: 17rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 8px;
    border-color: rgb(71, 177, 177);
}

.loginButton:hover {
    background-color:rgb(0, 190, 127);
}

.loginButton a {
    text-decoration: none;
    font-size: 1.2rem;
}

.createAccount {
    padding-top: 1.5rem;
}

.createAccount span a {
    color: rgb(0, 190, 127);
}





